[Desktop Entry]
Name=LlamaAssistant
Comment=Local AI Assistant That Respects Your Privacy! 🔒
Exec=LlamaAssistant
Icon=llama_assistant/resources/logo.png
Terminal=false
Type=Application
Categories=Graphics;RasterGraphics;MachineLearning
